{% load static %}
<link rel="icon" type="image/png" href="{% static 'text/images/icons/favicon.ico' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'text/vendor/bootstrap/css/bootstrap.min.css' %}">
<div class="text-center">
<a href="/" style="margin-left: auto;margin-right: auto;width: 18%;" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Back to Summarizer</a>
</div>
<br>
<h2>Sample Passage:</h2>
<br>

When we go deep into a ocean we see a garden on the sea floor which is mainly constituted by a single celled organism.The Large single-celled organisms, called xenophyophores, can grow as large as basketballs. Xenophyophores growing on the sediment can resemble carnations, roses, or lattices, and like corals in shallow water, their bodies create a unique habitat in the deep sea. Though surveys are difficult to conduct at the depths where they live and much of the abyssal plains have not been explored, we do know that xenophyophore meadows may cover large areas and that they inhabit the Atlantic and Pacific oceans. Xenophyophores “represent a little known element of marine biodiversity,” said Lisa Levin, a marine ecologist at Scripps Institution of Oceanography. They are also, she added, “very fragile—so vulnerable to human disturbance.” And disturbance is on the horizon. 

Gardens Of the Deep

Imagine these cells so densely packed together they are like dandelions in a lawn. Each massive cell forms a house made from the sediment around it; some extend long searching filaments, like hairs, to find and grab the best particles for construction, and eschew those that are too large or small. Despite being only a single cell, each will assemble these materials into elaborate masonry. 

With their houses in order, many xenophyophores feed on the marine snow that sinks from the world above, digesting these old remains in their viscous interior before exuding waste that resembles animal feces, though a single cell isn’t supposed to merit that term. When scientists led by ecologist Andrew Gooday of the University of Southampton used CT-scanning to peer into xenophyophore shells and visualize bodies within, they found that each cell spreads within its casing like the branches of a tree, reaching into every corner but with room to spare.
With the elaborate structure of these shells, and the waste they produce, each cell creates a miniature world. In the late 1980s, when Levin first studied xenophyophores as a hobby and few other scientists paid much attention to them at all, she found that more than 15 major animal groups, including sponges, mollusks, crustaceans, and polychaete worms, inhabit these single-cell castles, with some cells hosting more than 100 individual animals. Some are nourished by their host’s waste. “They function like apartment houses for animals,” said Levin. In 2019, she and fellow Scripps biologist Greg Rouse discovered a whole new group of animals that may rely on xenophyophores: fish.

When they looked inside xenophyophores gathered from mile-deep seabeds off the coast of Costa Rica, Levin and Rouse found eggs and embryos belonging to Paraliparis, a genus of snailfish who somewhat resemble giant tadpoles. Snailfish use syringe-like ovipositors to deposit their eggs. Some species sneak their eggs into sponges, others on the gills of crabs, some (bravely!) inside living clams. But some species of snailfish may lay their eggs in xenophyophores, creating new relationships between animals and these massive cells. 

Xenophyophores provide structure to an otherwise-flat habitat.

The extent to which snailfish use xenophyophores, and whether other fish species do as well, remains unknown, but the findings underscored just how important these extraordinary cells are to deep-seafloor life. For snailfish and other animals living in these meadows, xenophyophores may provide structure to an otherwise-flat habitat. These meadows are now recognized as biodiversity hotspots. When a fishing net dragged along an ocean bottom catches xenophyophores, it’s a signal that the operation has entered fragile habitat that is richer than the surrounding seabed. 

In fact, xenophyophores are so important to deep sea biodiversity that they’re among the organisms designated by the United Nations as indicators of Vulnerable Marine Ecosystems where communities are particularly sensitive to disturbance. When those indicators were evaluated according to their uniqueness, function, and fragility, xenophyophores ranked beside deep-sea corals. “Most are very fragile and turn into a pile of sediments if not handled carefully,” Levin said. They are especially vulnerable to disruption. 

Mining the Deep Sea

Some of the richest xenophyophore meadows occur in the Clarion-Clipperton Fracture Zone, a 1.7-million-square-mile region of abyssal plains and mountains between Hawaii and Mexico. Biologists surveying the region’s seabeds discovered areas with as many as 12 xenophyophores per square meter, creating a kind of single-celled reef system. Another seabed survey conducted in 2016 also found 14 xenophyophore species and 12 species of cnidarians, echinoderms, and sponges. Seven of those animals were completely new to science.

It’s not xenophyophores, though, that have drawn international attention to the Clarion-Clipperton. Instead it’s the fist-sized rocks called polymetallic nodules that rest, like sprinkles on a cake, across the region’s vast stretches of soft seabed.
Each nodule contains at its core a small piece of shell or fossil, which is surrounded by minerals growing like crystals on its surface. The process is shockingly slow, with the average nodule estimated to grow at a rate of a few centimeters every million years, and the slowest at only a few millimeters in that time. The largest nodules can be tens of millions of years old. And while nodules may form on a geologic timescale, the rush to collect them is speeding up. 

Among the minerals they contain are manganese, nickel, copper, and cobalt—elements that are critical components for batteries used in solar panels and electric cars, elements needed for the emerging ‘renewable’ energy economy.

Cobalt alone fetches more than $50 per kilogram. Together with the other metals they contain, these polymetallic nodule fields are worth many billions of dollars. Companies and countries are lining up for the chance to mine them. Despite being thousands of miles from land, areas of the Clarion-Clipperton are now claimed by China, France, Japan, Germany, South Korea, and others, and the International Seabed Authority has issued 16 permits for polymetallic nodule mining exploration there.

Xenophyophores live in a world unlike any other humanity has encountered.

Mining involves tractor-sized vacuums attached by tubes to a ship above that suck nodules to the surface. Xenophyophores and their ecosystems will be extracted with them. Biologists are still unclear if or how underwater mine sites will recover. 

One study of xenophyophores in the Atlantic found them to be quick-growing, increasing in volume severalfold over a period of eight months, but it may not be reasonable to extrapolate from those species to xenophyophores in the Clarion-Clipperton. Just as plants like bamboo and oak grow at different rates, the same may be true for these giant cells. Scientists also know very little about xenophyophore reproduction, their ability to disperse, or how long it may take them to repopulate a mined area. That, of course, only applies to xenophyophores who don’t live on the nodules themselves, which will take tens of millions of years to form anew.

Early in April 2021, Greenpeace confronted a ship contracted by the mining company Deep Green, and companies like Volvo and Google have now pledged not to use minerals mined from the deep sea until the environmental impacts are better understood. Meanwhile the International Seabed Authority may soon transition from its current survey-only phase and allow the first generation of deep-sea mining.

Conducting environmental impact assessments is a challenge where the environment is almost completely unknown. But we do know that xenophyophores live in a world unlike any other humanity has encountered. These are cells as large as human fists, that create habitat for other species that compare to corals in their importance to their ecosystems. “I want people to learn to care about the deep sea, and how wonderful and weird it is, and phenomenally unusual,” said Levin. Xenophyophores, she said, are iconic. We do not know what the consequences of deep sea mining may be—but if the fragility of these remarkable lifeforms is any indication, we must tread carefully.



Rebecca R. Helm ( Facebook / Twitter / Instagram) is an assistant professor of biology at the University of North Carolina Asheville, where she studies the ecology and evolution of life in the open ocean.

Research by Lisa Levin was funded by Schmidt Ocean Institute, a partner in Nautilus Oceans.

Lead image: A xenophyophore with a brittle star resting on top. Credit: NOAA Office of Ocean Exploration and Research

This article was originally published on our Oceans Channel in April 2021.
<div class="text-center">
    <a href="/" style="margin-left: auto;margin-right: auto;width: 18%;" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Back to Summarizer</a>
</div>
    